.cart-input{
    width:40px
}
.Carted{
  display:flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 50%;
  border: 1px solid blue;
  margin:15px;
  text-align: center;
  float: center;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: pointer;
  padding-top:10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
  transition: .4s;
  background-color: #f2f2f2;
  flex-wrap: wrap;
  /* background-color: aqua; */
  border-radius: 20px;
  margin: auto;
  margin-top: 5px;
  /* align-items: center; */
}
.Carted>img{
    width:100px;
    /* border: 1px solid blue; */
    height: 70%;
    margin: auto;
    margin-top: 15px;
   
}
.Carted>input{
    width: 50px;
    height: 10px;
    text-align: center;
    align-items: center;
    margin: auto;
}
.Carted>p{
    text-align: center;
    /* border: 1px solid blue; */
    width:90px;
    padding: 0%;
    margin:auto;
    align-items: center;
}
.Carted>button{
    margin: auto;
    border: 1px solid red;
}
.carted-data{
    width:80%;
    margin: auto;
    /* border: 1px solid blue; */
}
.carted-button>button{
  /* border: 1px solid red; */
  text-align: center;
  float: center;
  font-size: 15px;
  background-color:#f2f2f2;
 margin-left: 40%;
 /* margin: auto; */
 cursor: pointer;
 padding: 10px;
 width:20%;
}
.carted-button{
    /* border: 1px solid teal; */
    margin: auto;
    width:70%
    /* background-color: aqua; */
}
.carted-main1{
    /* border: 1px solid blue; */
    display: flex;
}
.Carted:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);
}
.carted-main>button{
font-size: 24px;
 font-family: ‘Open Sans’;
 font-weight: 600;
 color: #E44C4C;
 cursor: pointer;
 /* border-bottom: 1px solid #E44C4C; */
 padding: 10px;
 margin-left: 5px;
}
.empty{
    width:50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.empty>button{
    color:#F43397;
    padding: 10px;
}
.empty>button:hover{
    cursor: pointer;
}
h1{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 700;
    color: #2F3841;
}