.card1{
    display:flex;
    /* height: 70%; */
    height: 300px;
    width: 90%;
    /* border:1px solid green; */
    /* height: 40%; */
    margin: auto;
    justify-content:space-evenly;
    background-color:rgb(249,249,249);
    /* margin: auto; */
}
/* .card2item1{
    border: 1px solid blue;
    display: flex;
    width:95%;
}
.card2img1{
    border: 1px solid brown ;
    margin-top:5%;
    height: 70%;
    width: 40%;
    margin-left:2% ;
}
.card2-image{
    width:95%;
    border:1px solid blue;
    margin-top: 2%;

}
.card2img{
    display: flex;
    border: 1px solid brown;
    margin-top:20%;
    padding-top: 10px;
    margin-left:25%;
    width:70%;
    height: 80%;
}
.card2-image2{
     width:90%;
     height: 80%;
     margin-top: 10%;
     border: 1px solid red;
} */

/* .card3-btn{
    width:30%;
    margin-top: 20%;
    border: 1px solid blueviolet;
} */
/* .card3-btn>button{
    align-items: center;
    margin-left:30%;
    padding:20px;
    margin-top: 5%;
    border-radius: 10%;
    background-color: rgb(244, 51,151);
    color: rgb(255,255,255);
    font-family:"Helvetica Neue", sans-serif, "Mier Book";
    width:50%;
    border: 1px solid red;
    cursor: pointer; 
} */
/* .card3-image{
    display: flex;
    border: 1px solid red;
    margin-top: 5%;
    margin-left: 5%;
    width:55%;
} */
/* .card3-image-1{
    border:1px solid brown;
    width:32%;
    height: 80%;
    margin-left:2%;
    margin-top: 15%;
} */
/* .card3-image-1>button{
    background-color: black;
    color: rgb(255,255,255);
    border: 1px solid red;
    margin: auto;
    padding:2%;
    margin-top: 5%;
    align-items: center;
    width: 75%;
    cursor: pointer;
} */
/* .card3img{
    width:70%;
    margin-top:5%;
    margin-left:2%;
    height:70%;
    cursor: pointer;
    border: 1px solid red;
} */
.card4{
    /* border:1px solid red; */
    width:90%;
    height: 400px;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    background-image: url("https://images.meesho.com/images/marketing/1678691892265.jpg");
    justify-content: center;
    margin: auto;
    margin-top:5%;
    /* margin-left:5%; */
    /* padding: 10px; */

}
/* .card4-btn{
    width:30%;
    margin-top:5%; 
    border: 1px solid red;
} */
/* .card4-btn>button{
    border:1px solid red;
    align-items: center;
    margin-left:30%;
    margin-top: 75%;
    padding:20px;
    border-radius: 10%;
    background-color: rgb(244, 51,151);
    color: rgb(255,255,255);
    font-family:"Helvetica Neue", sans-serif, "Mier Book";
    width:60%;
    border: 1px solid red;
    cursor: pointer;
} */
/* .card4image{
    display: flex;
    border: 1px solid blue;
    width:65%;
    margin-top:10% ;
} */
/* .card4imgtag{
    border: 1px solid red;
    width:80%;
    height:50%;
} */



/* .card4imgtag>button{
    background-color: black;
    color: rgb(255,255,255);
    border: 1px solid red;
    margin: auto;
    padding:2%;
    margin-top: 3%;
    align-items: center;
    width: 75%;
    cursor: pointer;
    margin-left: 5%;
} */
.card5{
    width:90%;
    /* height: 50vh; */
    height: 300px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size:cover;;
    /* display: flex; */
    background-image: url("https://images.meesho.com/images/pow/downloadBannerDesktop.webp");
    /* height: 400px; */
    margin: auto;
    /* margin-top:5%; */
    /* padding: 10px; */
    /* border:1px solid red; */
}
/* .card5-heading1{
    border:1px solid red;
    margin-left: 15%;
    width:80%;
}
.card5-h1tag{
     text-align: end;
     color:rgb(85, 133, 248);
     margin-right: 6%;
} */
/* .card5-htag{
   text-align: end;
   width: 90%;
   font-size: 50px;
   color:rgb(244, 51,151);
   margin-left: 5%;
} */
.card6{
    width:90%;
    height: 200px;
    /* border: 1px solid red; */
    justify-content: center;
    background-image: url("https://images.meesho.com/images/pow/supplyBannerDesktop.webp");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 5%; */
    margin: auto;
    margin-top: 5%;
    /* height: 60vh; */
    
}
/* .heading-Supplier{
    margin-top:20px;
    text-align: center;
    color:white;
} */
/* .card6>p{
    color: white;
    margin-left: 10%;
    border: 1px solid red;
    margin-top: 5%;
    width:70%;
    font-size: 20px;
}
.card6-para{
    display: flex;
    color:white;
    margin-left:10%;
    border: 1px solid red;
    line-height: 5%;
    justify-content: space-around;
    margin-top: 8%;
} */
.Product-class{
    margin-left:5% ;
    justify-content: center;
    width:90%;
    margin-top: 5%;

}
/* .para>p{
    margin-left:2%;
} */

.card7-options{
    /* border: 1px solid red; */
    width: 20%;
    border-radius:20px ;
    margin-top: 5px;
    /* display: flex; */
    /* margin-left:8%  */
    /* position: sticky; */
}

.card7-imgdiv1{
    /* border:1px solid blue; */
    display: flex;
    justify-content: space-between;
    /* width:70%; */
    /* height:20%; */
}
.card7-imgdiv2{
    /* border: 1px solid red; */
    margin-left: 15px;
    /* display: none; */

}
.card7-imgdiv3{
   /* border:1px solid blue; */
    display: flex;
    justify-content:space-between;
    /* margin-left: 5px; */
}
.img-card-display{
    border-radius: 10px;
    color: transparent
    /* background-image: linear-gradient(red, yellow); */
    /* border-image: linear-gradient(#f6b73c, #4d9f0c) 30; */
}
/* @media screen and (max-width: 769px){
   .Card1{
     border:1px solid red;
     width:450px;
     margin: auto;
     margin-top:32%;
    height: 25vh;
     display: flex;
     flex-direction: column;
   }
   .card1-Lowest{
    border: 1px solid blue;
    width:55%;
}
.card1-listed{
    display:flex;
    font-size: 10px;
}
.card1-imgdiv{
    border: 1px solid teal;
    margin-left:2%;
    min-width: 45%;
    margin-top:2%;
   
}
.card1-image{
    min-width:85%;
    border: 1px solid red;
    margin-top: 15%;
    margin-left:2%;
}


.card1-Lowest>h1{
    font-size: 15px;
    border: 1px solid red;
    margin-top: 35%;
}
.card1-Lowest>button{
    background:rgb(244, 51,151);
    width: 100%;
    padding: 15px;
    color:rgb(255,255,255);
    font-size: 10px;
    margin-top:5%;
}
.card2{
    width:500px;
    margin: auto;
    height: 100vh;
    background-image:url("https://images.meesho.com/images/marketing/1678691670429.jpg");
    margin-top:12%;
    background-size:cover;
    background-repeat: no-repeat;
    border: 1px solid red;
}
.card3{
    border:1px solid red;
    width:400px;
    height:25vh;
    height: 80vh;
    background-position: right top;
    background-repeat: no-repeat;
    background-size:300px;
    background-image: url("https://images.meesho.com/images/marketing/1678691743015.jpg");
    height: 400px;
    margin: auto;
    margin-top:5%;
    border: 1px solid red;
   
    padding: 5px;
}
.card3-btn{
    width:30%;
    margin-top: 20%;
    border: 1px solid blueviolet;
}
.card3-btn>button{
    align-items: start;
    margin-left:0%;
    padding:20px;
    padding: 18%;
    margin-top: 5%;
    border-radius: 10%;
    background-color: rgb(244, 51,151);
    color: rgb(255,255,255);
    font-family:"Helvetica Neue", sans-serif, "Mier Book";
    width:95%;
    border: 1px solid red;
    cursor: pointer; 
}
.card3-image{
    display: flex;
    border: 1px solid red;
    margin-top: 2%;
    margin-left: 9%;
    width:65%;
}
.card3-image-1{
    border:1px solid brown;
    width:35%;
    height: 80%;
    margin-left:2%;
    margin-top:5%;
}
.card3-image-1>button{
    background-color: black;
    color: rgb(255,255,255);
    border: 1px solid red;
    margin: auto;
    padding:2%;
    margin-top: 5%;
    align-items: start;
    width: 90%;
    cursor: pointer;
    font-size: 10px;
}
.card3img{
    width:70%;
    margin-top:5%;
    margin-left:2%;
    height:70%;
    cursor: pointer;
    border: 1px solid red;
}
.card4{
    border:1px solid red;
    width:500px;
    height: 30vh;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    background-image: url("https://images.meesho.com/images/marketing/1678691892265.jpg");
    margin: auto;
    margin-top:10%;
    margin-left:5%;
    padding: 10px;

}
.card4-btn{
    width:25%;
    margin-top:5%;
    border: 1px solid red;
}
.card4-btn>button{
    border:1px solid red;
    align-items: center;
    margin-left:5%;
    margin-top: 75%;
    padding:13%;
    border-radius: 10%;
    background-color: rgb(244, 51,151);
    color: rgb(255,255,255);
    font-family:"Helvetica Neue", sans-serif, "Mier Book";
    width:95%;
    border: 1px solid red;
    cursor: pointer;
}
.card4image{
    display: flex;
    border: 1px solid blue;
    width:65%;
    margin-top:10% ;
    margin-left: 8%;
}
.card4imgtag{
    border: 1px solid red;
    width:70%;
    height:50%;
}

.card4-img-2{
    border: 1px solid red;
    margin:auto;
    width:70%;
    margin-top:55%;
    align-items: center;
    height: 40%;
    margin-left:3%
}

.card4imgtag>button{
    background-color: black;
    color: rgb(255,255,255);
    border: 1px solid red;
    margin: auto;
    padding:1%;
    margin-top: 3%;
    align-items: center;
    width: 95%;
    cursor: pointer;
    margin-left: 2%;
    font-size: 10px;
}
.card5{
    width:500px;
    height: 25vh;
    float:right;
    height: 80%;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    background-image: url("https://images.meesho.com/images/pow/downloadBannerDesktop.webp");
    height: 400px;
    justify-content: center;
    margin: auto;
    margin-top:5%;
    padding: 10px;
    border:1px solid red;
}
.card5-heading1{
    border:1px solid red;
    margin-left:10%;
    width:95%;
   
    margin-top: 0%;
}
.card5-h1tag{
     text-align: end;
     color:rgb(85, 133, 248);
     font-size: 15px;
     margin-right: 6%;

}
.card5-htag{
   text-align:start;
   width: 95%;
   font-size: 22px;
   color:rgb(244, 51,151);
   margin-left:12%;
   margin-top: 0%;
}
.card6{
    width:500px;
    height: 140%;
    border: 1px solid red;
    background-image: url("https://images.meesho.com/images/pow/supplyBannerDesktop.webp");
    background-repeat: no-repeat;
    background-size:cover;
    margin-left: 5%;
    margin: auto;
    margin-top: 5%;
    height: 25vh;
    
}
.card6 h4{
    color:white;
    font-size: 10px;
    margin-left: 5%;
    margin-top: 2%;
    border: 1px solid red;
    width: 70%;
}
.card6>p{
    color: white;
    margin-left: 20%;
    font-size: 9px;
    border: 1px solid red;
}
.card6-para{
    display: flex;
    color:white;
    margin-left:10%;
    border: 1px solid red;
    line-height: 5%;
    justify-content: space-around;
}
.card6-para>p{
    margin-left:2%;
    font-size: 8px;
}
.card7-countainer{
    display: flex;
    width:550px;
    border:1px solid red;
}
.card7part{
    border:1px solid blue;
    display:grid;
    grid-template-columns:180px 180px;
    width: 80%;
 }
} */

/* @media  screen and (min-width:500px) and (max-width:765px){
} */
