.footer{
     width:95%;
     height: 300px;
     /* border: 1px solid red; */
     margin-top: 5%;
     display: flex;
     background-color: rgb(249, 249, 249);
}
.imgtag1{
    width:45px;
    height: 30px;
}
.title1{
    width:750px;
    /* border:1px solid brown; */
    margin-left: 5%;
    margin-top: 3%;
}
.title1>h2{
    font-size: 30px;
    color: rgb(102, 102, 102);
    font-weight: 500px;
}
.title2{
    width:500px;
    margin-left: 2%;
    /* border: 1px solid blue; */
    margin-top: 3%;
}
.title2>h2{
    font-weight: 500;
    /* text-align: center; */
    color:rgb(102, 102, 102);
}
.title3{
    width:400px;
    /* border: 1px solid blue; */
    margin-top: 3%;
}
.title3>h2{
    font-weight: 500;
    color: rgb(102, 102, 102);
}
.title4{
    width: 600px;
    /* border: 1px solid red; */
    margin-top: 4%;
}
.title4>h2{
    font-size: 20px;
}
.title5{
    width:400px;
    height: 300px;
    margin-top: 4%;
    margin-right: 2%;
}
.title5>h2{
    font-size: 20px;
}
.title5>p{
    font-size: 12px;
    margin-top: 0px;
}

@media screen and (max-width: 769px){
    .footer{
        width:50%;
        height:100vh;
        /* border: 1px solid red; */
        margin: auto;
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        /* background-color: transparent; */
   }
   .imgtag1{
       width:45px;
       height: 20px;
   }
   .title1{
       /* min-width:30%; */
       /* border:1px solid brown; */
       margin-left: 5%;
       margin-top: 3%;
       width:90%
   }
   .title1>h2{
       font-size: 20px;
       color: rgb(102, 102, 102);
       font-weight: 50%;
   }
   .title1>p{
    font-size: 12px;
   }
   .title2{
       width:50%;
       margin-left: 5%;
       /* border: 1px solid blue; */
       margin-top: 3%;
   }
   .title2>h2{
       font-weight: 500;
       font-size: 15px;
       /* text-align: center; */
       color:rgb(102, 102, 102);
   }
   .title3{
       width:50%;
       /* border: 1px solid blue; */
       margin-top: 3%;
       margin-left: 5%;
   }
   .title3>h2{
       font-weight: 500;
       font-size: 15px;
       color: rgb(102, 102, 102);
   }
   .title4{
       width: 50%;
       /* border: 1px solid red; */
       margin-top: 4%;
       margin-left: 5%;
   }
   .title4>h2{
       font-size: 15px;
   }
   .title5{
       width:50%;
       height: 300px;
       margin-top: 4%;
       margin-left: 5%;
   }
   .title5>h2{
       font-size: 20px;
   }
   .title5>p{
       font-size: 12px;
       margin-top: 0px;
   }
}